<%- include('partials/header') %>

<h2>All Blog Posts</h2>

<% posts.forEach(post => { %>
    <div class="post">
        <h3><%= post.title %></h3>
        <p><%= post.content.substring(0, 100) %>...</p>
        <div class="post-actions">
            <a href="/posts/<%= post._id %>">Read More</a>
            <a href="/edit/<%= post._id %>">Edit</a>
            <form action="/delete/<%= post._id %>" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
<% }); %>

<%- include('partials/footer') %>
